---
import Page from '../layouts/Page.astro'
---
<Page title="Pricing">
    <p>At Judo Central Coast, we believe in transparency and openness.</p>
    <p>Our prices are listed below. For any questions, please don't hesitate
    to <a href="/contact">contact us</a>.</p>
    <section>
        <h1>Mat Fees</h1>
        <ul>
            <li>
                <h2>Juniors</h2>
                <div class="monthly">
                    <p>1 Month</p>
                    <p class="price">$60</p>
                </div>
                <div class="quarterly">
                    <p>3 Months</p>
                    <p class="price">$150</p>
                </div>
            </li>
            <li>
                <h2>Adults</h2>
                <div class="monthly">
                    <p>1 Month</p>
                    <p class="price">$80</p>
                </div>
                <div class="quarterly">
                    <p>3 Months</p>
                    <p class="price">$220</p>
                </div>
                <div class="casual">
                    <p>Day Pass</p>
                    <p class="price">$20</p>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <h1>Registration (Judo NSW)</h1>
    </section>
    <section>
        <h1>Other Costs</h1>
    </section>
</Page>

<style>
a {
    @apply text-primary;
}

section {
    @apply flex flex-col gap-12 w-full max-w-2xl mx-auto;

    h1 {
        @apply text-center sm:text-left font-bold text-2xl;
    }

    ul {
        @apply sm:ml-8 flex flex-col gap-6 sm:gap-2;

        li {
            @apply flex flex-col sm:flex-row gap-2 w-full;

            h2 {
                @apply font-bold sm:flex-none sm:w-36 text-xl;
            }

            div {
                @apply flex-1 text-center p-2 flex flex-col gap-2;

                .price {
                    @apply font-bold text-xl;
                }
            }
        }
    }
}

.monthly {
    @apply bg-sky-400 dark:bg-sky-900;
}

.quarterly {
    @apply bg-emerald-400 dark:bg-emerald-900;
}

.casual {
    @apply bg-rose-400 dark:bg-rose-900;
}

</style>
