---
import Page from '../layouts/Page.astro'
---
<Page title="Timetable">
  <div class="week">
      <div class="day">
          <h1>Monday</h1>
          <ul>
              <li>
                  <div class="time">12:00pm - 1:30pm</div>
                  <a href="/classes#adults" class="session erina adults">
                      <div>Adults and Teens</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">4:00pm - 5:00pm</div>
                  <a href="/classes#kids" class="session erina mini">
                      <div>Mini Kids (5 - 8 years)</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">5:00pm - 6:00pm</div>
                  <a href="/classes#kids" class="session erina kids">
                      <div>Kids (9 - 12 years)</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">7:30pm - 9:00pm</div>
                  <a href="/classes#adults" class="session erina adults">
                      <div>Adults and Teens</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
          </ul>
      </div>

      <div class="day">
          <h1>Tuesday</h1>
          <ul>
              <li>
                  <div class="time">6:00pm - 7:30pm</div>
                  <a href="/classes#teen-boys" class="session erina teen-boys">
                      <div>Teen Boys</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">7:30pm - 9:00pm</div>
                  <a href="/classes#titans" class="session erina adults">
                      <div>Tuesday Titans Judo Comp Training</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
          </ul>
      </div>

      <div class="day">scroll-mt-96
          <h1>Wednesday</h1>
          <ul>
              <li>
                  <div class="time">10:00am - 11:30am</div>
                  <a href="/classes#adults" class="session erina adults">
                      <div>Adults and Teens</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">4:00pm - 5:00pm</div>
                  <a href="/classes#kids" class="session erina mini">
                      <div>Mini Kids (5 - 8 years)</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">5:00pm - 6:00pm</div>
                  <a href="/classes#kids" class="session erina kids">
                      <div>Kids (9 - 12 years)</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">6:30pm - 8:00pm</div>
                  <a href="/classes#open-mat" class="session niagara-park open-mat">
                      <div>Judo and Jiu Jitsu Open Training</div>
                      <div class="location">Niagara Park</div>
                  </a>
              </li>
          </ul>
      </div>

      <div class="day">
          <h1>Thursday</h1>
          <ul>
              <li>
                  <div class="time">5:00pm - 6:00pm</div>
                  <a href="/classes#teen-girls" class="session erina teen-girls">
                      <div>Teen Girls</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">7:30pm - 9:00pm</div>
                  <a href="/classes#adults" class="session erina adults">
                      <div>Adults and Teens</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
          </ul>
      </div>

      <div class="day">
          <h1>Friday</h1>
          <ul>
              <li>
                  <div class="time">10:00am - 11:30am</div>
                  <a href="/classes#adults" class="session erina adults">
                      <div>Adults and Teens</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">5:30pm - 6:30pm</div>
                  <a href="/classes#kids" class="session niagara-park mixed-kids">
                      <div>Mini Kids/Kids Combined (5-12 years)</div>
                      <div class="location">Niagara Park</div>
                  </a>
              </li>
              <li>
                  <div class="time">6:30pm - 8:00pm</div>
                  <a href="/classes#adults" class="session niagara-park adults">
                      <div>Adults and Teens</div>
                      <div class="location">Niagara Park</div>
                  </a>
              </li>scroll-mt-96
          </ul>
      </div>

      <div class="day">
          <h1>Saturday</h1>
          <ul>
              <li>
                  <div class="time">9:00am - 10:00am</div>
                  <a href="/classes#kids" class="session erina mini">
                      <div>Mini Kids (5 - 8 years)</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">10:00am - 11:00am</div>
                  <a href="/classes#kids" class="session erina kids">
                      <div>Kids (9 - 12 years)</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
              <li>
                  <div class="time">3:00pm - 5:00pm</div>
                  <a href="/classes#adults" class="session erina adults">
                      <div>Adults and Teens</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
          </ul>
      </div>

      <div class="day">
          <h1>Sunday</h1>
          <ul>
              <li>
                  <div class="time">11:00am - 12:30pm</div>
                  <a href="/classes#open-mat" class="session niagara-park open-mat">
                      <div>Judo and Jiu Jitsu Open Training</div>
                      <div class="location">Erina</div>
                  </a>
              </li>
          </ul>
      </div>
  </div>
  <div class="mt-12">
    <p>Note: During school holidays, kids and teens classes will not be running. Interested teens are encouraged
      to join in our Adults and Teens sessions.
    </p>
  </div>
</Page>

<style>
.week {
    @apply flex flex-col gap-12 w-full;

    .day {
        @apply w-full max-w-4xl m-auto flex flex-col gap-2;

        h1 {
            @apply text-center sm:text-left font-bold text-2xl;
        }

        ul {
            @apply sm:ml-8 flex flex-col gap-6 sm:gap-2;

            li {
                @apply flex flex-col sm:flex-row sm:items-center gap-2 w-full;

                .time {
                    @apply font-bold sm:flex-none sm:w-36;
                }

                .session {
                    @apply flex-1 text-center p-2 flex flex-col gap-2;

                    .location {
                        @apply font-bold text-xl;
                    }
                }
            }
        }
    }
}

.mini {
    @apply bg-sky-500 dark:bg-sky-900;
}

.kids {
    @apply bg-emerald-500 dark:bg-emerald-900;
}

.mixed-kids {
    @apply bg-gradient-to-r from-sky-500 to-emerald-500 dark:from-sky-900 dark:to-emerald-900;
}

.teen-boys {
    @apply bg-amber-500 dark:bg-amber-900;
}

.teen-girls {
    @apply bg-pink-500 dark:bg-pink-900;
}

.adults {
    @apply bg-rose-500 dark:bg-rose-900;
}

.open-mat {
    @apply bg-purple-500 dark:bg-purple-900;
}

</style>
