---
import Page from '../layouts/Page.astro'

import Timetable from '../assets/data/Timetable.ts'
---
<Page title="Timetable">
    <p class="">timetable test {Timetable.classType.name} - {Timetable.day}</p>
    <h2>Testing Clubworx Timetable</h2>
    <html>
    <!-- EMBED START: Embed the following line somewhere in the BODY tag of your page: -->
    <iframe src="https://app.clubworx.com/websites/judo-central-coast/calendar/weekly_agenda_iframe" width="100%" height="940" border="0" style="border:0;">
    </iframe>
</Page>
