---
import Page from '../layouts/Page.astro'

import Timetable from '../assets/data/Timetable.ts'
---
<Page title="Timetable">
    <p class="">timetable test {Timetable.classType.name} - {Timetable.day}</p>
</Page>
